---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import PrincipalChar from "../components/reactComponents/PrincipalChar";
import MainPage from "../components/reactComponents/MainPage";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>My FX <span class="text-gradient">QQ Global Group</span></h1>
    <p class="instructions">
      Revisa y analiza el rendimiento de tu cuenta a lo largo del mes. Recuerda tener una cuenta en QQCapital Group.
    </p>
    <MainPage client:visible/>
    
  </main>
</Layout>

<style>
  main {
    margin: 4em auto 0px auto;
    padding: 1rem;
    width: 80%;
    max-width: 80%;
    color: black;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }

  .link-card-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
  }
  .colored-box {
    width: calc(100% - 1rem);
    background: rgba(var(--accent), 0.1);
    border: 1px solid rgba(var(--accent), 0.2);
    border-radius: 8px;
  }
  
  @media screen and (max-width: 768px) {
    h1{
      font-size: 3rem;
    }
  }
</style>
